.leaderboard-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    justify-content: space-around;
    &__place {
        font-weight: 800;
        font-size: 1.1em;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    &__player {
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        font-weight: 300;
        text-decoration: none;
        color: inherit;
    }
    &__image {
        height: 100%;
        border-radius: 100%;
    }
    &__time {
        font-weight: 500;
        font-size: 1.5em;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}