.player-leaderboard {
    &__header {
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #71B1E1;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.2);
        // 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
        span {
            color: white;
            margin: 0 1em;
            text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.2);
            font-size: 2em;
            font-weight: 600;
        }
    }
    &__card {
        margin: 0.5em 0;
        &:hover {
                background-color: darken(white, 10%);
            }
            &:nth-child(-n+3) {
                color: white;
            }
            &:nth-child(1) {
                background-color: #E5DCA5;
                &:hover {
                    background-color: darken(#E5DCA5, 10%);
                }
            }
            &:nth-child(2) {
                background-color: #CFCFCF;
                &:hover {
                    background-color: darken(#CFCFCF, 10%);
                }
            }
            &:nth-child(3) {
                background-color: #C2B29B;
                &:hover {
                    background-color: darken(#C2B29B, 10%);
                }
            }

    }
}

.clear-me {
    display:block;
    height: 75px;
}