.sidebar {
    transition: 0.5s cubic-bezier(0.73, 0.07, 0.19, 0.9);
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 25;
    top: 0;
    left: -110%;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    &.sidebar--active {
        left: 0%; 
    }
    &__header {
        flex-shrink: 0;
        background-color: #478ECC;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        &-text {
            font-size: 2.3em;
            margin: -0.3em 0 0.2em 0;
            color: white;
            font-weight: 100;
        }
    }
    &__close {
        align-self: flex-start;
        color: white;
        font-size: 2.5em;
        margin: 0;
        position: absolute;
        left: 5px;
        top: 5px;
        cursor: pointer;
    }
    &__logo {
        margin: 0.2em 0 0 0;
        height: 75px;
    }
    &__nav {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-item {
            position: relative;
            text-decoration: none;
            color:black;
            transition: 0.3s ease;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px 0;
            font-weight: 400;
            overflow: hidden;
            &.router-link-active {
                background-color: darken(#fff,10%) !important;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: #478ECC;
                    top: 45%;
                    left: 90%;
                    transform: rotate(45deg) translateY(-60%);
                }
            }
            &:hover {
                background-color: darken(#fff, 5%);
            }
            i {
                margin: 0 5%;
                font-size: 1.75em;
            }
            &:last-child {
                margin-bottom: 20px;
            }
            &:nth-child(1) {
                i {
                    color: #81C784;
                }
            }
            &:nth-child(2) {
                i {
                    color: #4DB6AC;
                }
            }
            &:nth-child(3) {
                i {
                    color: #E57373;
                }
            }
            &:nth-child(2n-1) {
                background-color: #F4F4F4;
                &:hover {
                    background-color: darken(#F4F4F4, 5%);
                }
            }
        }
    }
    &__divider {
        border: 1px solid #EDEDED;
        width: 99%;
    }
}

.map-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        &__header {
            margin: 0;
        }
        &__list {
            width: 100%;
            list-style-type: none;
            text-align: left;
            height: 100%;
            overflow-y: scroll;
            padding: 0;
            &-item {
                transition: 0.3s ease;
                text-decoration: none;
                position: relative;
                overflow: hidden;
                color: black;
                font-weight: 400;
                display: block;
                padding: 0.5em 0;
                &.router-link-active {
                    background-color: darken(#fff,15%) !important;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 55px;
                        height: 55px;
                        background-color: #478ECC;
                        top: 45%;
                        left: 90%;
                        transform: rotate(45deg) translateY(-63%);
                    }
                }
                &:hover {
                    background-color: darken(#fff, 5%);
                }
                &:nth-child(2n) {
                    background-color: #F4F4F4;
                    &:hover {
                        background-color: darken(#F4F4F4, 5%);
                    }
                }
            }
        }
    }